<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <title>AMM</title>
</head>
<body>
    <form action="/login" method="post">
        <input id="username" type="text" name="username" placeholder="Username">
        <label for="username">Username</label>
        <input id="password" type="password" name="password" placeholder="Password">
        <label for="password">Password</label>
        <input type="submit" value="Login">
    </form>
    <form action="/register" method="post">
        <input id="username" type="text" name="username" placeholder="Username">
        <label for="username">Username</label>
        <input id="password1" type="password1" name="password1" placeholder="Password1">
        <label for="password1">Password1</label>
        <input id="password2" type="password2" name="password2" placeholder="Password2">
        <label for="password2">Password2</label>
        <input id="email" type="email" name="email" placeholder="Email">
        <label for="email">Email</label>
        <input type="submit" value="Register">
    </form>
</body>
</html>