<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/app.css">
    <title>AMM</title>
</head>
<body>
    <div id="logcont">
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    </div>
    <div id="regcont">
    <form action="/register" method="post">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="email">  
        <label for="password">Password1</label>
        <input id="password" type="password" name="password1" placeholder="Password1">
        <label for="password">Password2</label>
        <input id="password" type="password" name="password2" placeholder="Password2">
        <input type="submit" value="register">
    </form>
    </div>
</body>
</html>