<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/app.css">
    <title>Document</title>
</head>
<body>
    <div id="cont_new_friend">
        <h1>pot_friends</h1>
        <div id="lobby">
                <ul>
                    <% for (let i = 0; i < pot_friends.length; i++) { %>
                        <div><%= pot_friends[i].name %></div>
                        <form action="/addFriend" method="Post">
                            <input type="hidden" name="name" value="<%= pot_friends[i].name %>">
                            <input type="submit" value="Barát hozzáadása">
                        </form>
                    <% } %>
                </ul>
        </div>
    </div>
    <div id="cont">
        <div id="header">
            <h1>Chat App</h1>
        <div id="lobby">
                <ul> 
                    <% for (let i = 0; i < rooms.length; i++) { %>  
                        <form action="/join" method="Post">
                            <input type="hidden" name="room" value="<%= rooms[i].id %>">  
                            <input type="submit" value="<%= rooms[i].name %>">
                        </form>
                    <% } %>
                </ul>
        </div>
    </div>
</body>
</html>