<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="./js"></script>
   <title>Main Page</title>
</head>
<body>
   <% if(locals.name != (null || "")) { %>
      <h1><%= name %></h1>
   <% } %>
   <h1>Home Page</h1>
   <form action="/lamp" method="post">
      <input type="radio" id="onR" name="lamp" value="onRed">
      <label for="onR">Red</label>
      <input type="radio" id="onG" name="lamp" value="onGreen">
      <label for="onG">Green</label>
      <input type="radio" id="onB" name="lamp" value="onBlue">
      <label for="onB">Blue</label>
      <input type="radio" id="off" name="lamp" value="off">
      <label for="off">Off</label>
      <input type="submit" value="Submit">
   </form>
   <form action="/msg" method="post">
      <input type="text" name="msg" placeholder="Enter message">
      <input type="submit" value="Submit">
   </form>
   <form action="/logout" method="post">
      <button type="submit" value="logout">Logout</button>
   </form>
</body>
</html>