*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: bisque;
    margin: 10px;
}

li{
    list-style: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: larger;
    width: 70vw;
    color: bisque;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}
.user{
    text-align: end;
}
#logout_btn input{
    position: fixed;
    right: 2%;
    top: 2%;
    background-color: #333;
    color: bisque;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#sendmsg input[type="submit"]{
    background-color: bisque;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#sendmsg input[type="text"]{
    width: 90%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #333;
    background-color: bisque;
    transition: 0.3s;
}

#sendmsg input[type="text"]:focus{
    background-color: #333;
    color: bisque;
    border: 1px solid bisque;
}

.navver_cont{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.naver{
    transform: rotate(-90deg);
    background-color: bisque;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#page{
    display: none;
}